
.app-container {
  padding: 2rem;
  font-family: Arial, sans-serif;
  background-color: rgb(141, 141, 146);
  min-height: 100vh;
  color: white;
  border-radius: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.app-container h1 {
  margin-bottom: 2rem;
  color:rgb(9, 6, 2)
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.nav-links a {
  text-decoration: underline;
  color: rgb(32, 15, 221);
  font-weight: bold;
}

.start-spel-button {
  display: block;
  margin: 1rem auto; 
  background-color: rgb(69, 69, 74);
  color: rgb(231, 229, 225);
  border: 2px solid  rgb(69, 69, 74);
  border-radius: 8px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: larger;
}

.word-length-input {
  width: 50px;
  padding: 0.25rem;
  border: 1px solid rgb(20, 20, 28);
  border-radius: 8px;
  margin-left: 0.5rem;
}

.guess-input {
  width: 200px;
  padding: 0.5rem;
  border: 1px solid rgb(20, 20, 28);
  border-radius: 8px;
  margin-top: 1rem;
}

.guess-button {
  margin-left: 1rem;
   padding: 0.5rem;
  border: 1px solid rgb(20, 20, 28);
   width: 75px;
   border-radius: 8px;
  margin-top: 1rem;
}

.highscore-list {
  list-style: none;
  padding: 0;
}

.game-settings {
  margin-bottom: 1rem;
}

.duplicate-label {
  margin-left: 1rem;
}

.start-button {
  margin-left: 1rem;
  height: 18px;
   width: 18px;
}

.save-score-button {
   margin-left: 1rem;
   padding: 0.5rem;
  border: 1px solid rgb(20, 20, 28);
   width: 75px;
   border-radius: 8px;
  margin-top: 1rem;
  }

  .save-score-container {
    margin-top: 1rem;
  }


  .name-input {
    width: 200px;
  padding: 0.5rem;
  border: 1px solid rgb(20, 20, 28);
  border-radius: 8px;
  margin-top: 1rem;
  
  }
  
  
  .feedback-container {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.feedback-box {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(19, 16, 16);
  font-weight: bold;
  text-transform: uppercase;
}

.history-row {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
.history-box {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}




